body {
    min-height: 100vh;
    height: 100%;
    font-family: 'Mulish', sans-serif !important;
    overflow:hidden;
}

.full-height {
    min-height: 100vh;
    height: 100%;
}

.icon-size li{
    width:3rem;
}
